<div class="row">
    <div class="col-md-4 p-4" *ngFor="let teacher of teachers">
        <div class="card" (click)="selectedCard(teacher._id)">
            <div class="card-header">
                {{teacher.name}}
            </div>
            <div class="card-body">
                <div>
                    {{teacher.email}}
                </div>
                <div>
                    {{teacher.office}}
                </div>
                <div>
                    {{teacher.puntuation}}
                </div>
                <div>
                    {{teacher.subjects}}
                </div>
                
            </div>

        </div>

    </div>
</div>
