<div class="col-lg-4 mx-auto"> <!-- dif con espaciado de 4, mx-auto (centrado) -->
    <div class="card"> <!-- crear tarjeta -->
        <div class="card-header"> <!-- cabecera -->
            Crate a Teacher
        </div>
        <div class="card-body"> <!-- cuerpo donde creare el form -->
            <form (submit)="uploadTeacher(name,email,office,puntuation)">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Teacher's name" required #name>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Teacher's email" required #email>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Teacher's office" required #office>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Teacher's puntuation" required #puntuation>
                </div>
                <div class="container p-4">
                    <button class="btn btn-primary btn-block">save</button>
                </div>
            </form>
        </div>
    </div>
</div>
