<div class="row">
    <div class="col-md-7">
        <div class="card">
            <form class="card-body" (submit)="updateTeacher(name, email)">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Teacher's name" [value]="teacher.name" #name>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Teacher's email" [value]="teacher.email" #email>
                </div>
                <button class="btn btn-primary btn-block">Update</button>
            </form>

        </div>
    </div>
</div>
<button class= "btn btn-danger" (click)="deleteTeacher(teacher._id)">Delete</button>
