<div class="row">
    <div class="col-md-7">
        <div class="card">
            <form class="card-body" (submit)="updateTeacher(name, email, office, puntuation)">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Teacher's name" [value]="teacher.name" #name>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Teacher's email" [value]="teacher.email" #email>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Teacher's email" [value]="teacher.office" #office>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Teacher's email" [value]="teacher.puntuation" #puntuation>
                </div>

                <button class="btn btn-primary btn-block">Update</button>
            </form>

        </div>
    </div>
</div>
<button class= "btn btn-danger" (click)="deleteTeacher(teacher._id)">Delete</button>

<button class="btn btn-primary btn-block" (click)="addAsignatura(teacher._id)">Añadir asignaturas</button>
